.credentialFormContainer {
  width: 25%;
  height: 100%;
  margin-left:40%;
  margin-right:40%;
  font-family: helvetica;
}

.credentialInput {
  width: 100%;
  padding: 10px 10px;
  font-size: 17px;
  display: block;
  box-sizing: border-box;
  border: 3px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 10%;
}

.credentialError {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -5%;
  margin-bottom: 10%;
  text-align: center;
  background-color: rgb(255, 167, 167);
  color: rgb(145, 0, 0)
}

.credentialSuccess {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: -5%;
  margin-bottom: 10%;
  text-align: center;
  background-color: rgb(140, 253, 117);
  color: rgb(25, 151, 0)
}

.credentialInputLabel {
  color: #3a3a3a
}

.credentialButton {
  width:80%;
  margin-left:10%;
  margin-right:10%;
  margin-top: 5vh;
  margin-bottom: 30vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 3px solid #919191;
  color: #0d0e10;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px 8px;
  text-align: center;
}

.credentialButton:hover {
  transition: background-color .5s ease-out;
  background-color: #b4b4b4;
}

.logoText {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 10%;
  font-family: helvetica;
  font-size: 50px;
  text-align: center;
  text-shadow: 0 0 1px;
}

.logoImg {
  width:35px;
  margin-right: 10px;
}